.drag-container {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
  }
.container{
    margin-top: 70px;
}

.draggable {
    width: 250px;
    height: 40px;
    background-color: white;
    margin: 10px auto;
    border-radius: 5px;
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
    padding-top: 12px;
  }

  .droppable {
    position: absolute;
    width: 300px;
    height: 60%;
    right: 0;
    top: 10;
    background-color: #CCCCCC;
    margin-right: 120px;
    margin-top: 50px;
    overflow-y: auto;
  }
  
  .Progress {
    position: absolute;
    margin-left: 160px;
    margin-top: 50px;
    width: 300px;
    height: 60%;
    left: 0;
    top: 10;
    background-color: #CCCCCC;
    overflow-y: auto;
  }

  .Working {
    position: absolute;
    width: 300px;
    height: 60%;
    left: 0;
    top: 10;
    background-color: #CCCCCC;
    margin-left: 510px;
    margin-top: 50px;
    overflow-y: auto;
  }
  .group-header{
    width: 300px;
    height: 40px;
    margin: -50px auto;
    border-radius: 5px 5px 0 0;
    color: white;
    padding-top: 10px;
    position: fixed;
  }
.group1{
    background-color: blue;
    margin-left: 160px;
    margin-top: 0;
}
.group2{
    background-color: green;
    margin-left: 860px;
    margin-top: 0;
}
.group3{
    background-color: orange;
    margin-left: 510px;
    margin-top: 0;
}


